<footer >
<div class="container mt-0">
  <div class="row">
    <div class="col-sm">
       <img src="./img/logo (2).png" height="60"  alt="Clara's logo">
        <p >Ut enim ad minim veniam, quis nostrud at exercitation ullamco laboris nisi nemo sit enim ipsam voluptatem
            quia voluptas</p>
    </div>
    <div class="col-sm">
      <p>WORK TIME</p>
    <div>Monday - Friday...... 09:00 - 23:00<br>
        Saturday...................11:00 - 01:00<br>
        Sunday.....................12:00 - 23:00</div>
    </div>
    <div class="col-sm">
     <p>CONTACT US</p> 
     89,Bv saint Joseph,Gatineau,QC<br>
6138797190<br>
ahmedbna709@gmail.com
    </div>
  </div>
</div>
</footer>