<section>
    <div>
    <div class="backImg">

</div>
<div class="centered"><h1 class="titre">Our Shop</h1>
<p class="contenue">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam vulputate dignissim suspendisse in est ante in nibh. Faucibus et molestie ac feugiat sed. Odio aenean sed adipiscing diam donec. Tellus cras adipiscing enim eu turpis egestas pretium aenean. Netus et malesuada fames ac turpis egestas.</p>
</div>
</div>
    </section>
    <section class="apropos">
        <div ><img src="./img/carousel1.jpg" class="imageA" /></div>
        <div class="aproposContainer">
            <h1 class="contentTitle">UN PEU PLUS SUR NOUS ...</h1>
            <div class="contentContainer">Chez Clara's cake, nous avons pour objectif de vous offrir le meilleur afin d’accompagner vos moments en
                famille, entre amis, ou simplement vos petits plaisirs quotidien. Pour se faire, nous avons développé
                une sélection de produits répondant à vos envies, vos besoins ou encore vos différents régimes
                alimentaires. Chaque gamme est pensée soigneusement pour être au plus proche de vos attentes. Si vous ne
                trouvez rien qui vous corresponds, nous pouvons aussi nous en parler directement par téléphone et
                peut-être vous proposer quelque chose de plus adapté.

                Attention, les allergènes sont présents sur nos lieux de productions. Nous ne pouvons donc pas garantir
                leur absence totale.</div>
            
        </div>
        <div ><img class="imageA" src="./img/carousel2.jpg" /></div>
    </section>
    <section></section>
</div>